:root {
    /* common */
    --size64: 64px;
    --size60: 60px;
    --size52: 52px;
    --size48: 48px;
    --size36: 36px;
    --size30: 30px;
    --size28: 28px;
    --size24: 24px;
    --size20: 20px;
    --size18: 18px;
    --size16: 16px;
    --size14: 14px;

    --lblack: #404040;
    --spc60: 60px;

    --radius24: 24px;
    --radius16: 16px;
    --radius12: 12px;
}

.white,
.white p {
    color: #FFF;
}

.t-center {
    text-align: center;
}

.banner-title {
    font-size: var(--size52);
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 4px;
}

.sec-title {
    font-size: var(--size48);
    font-weight: 600;

    &.t-center {
        margin-bottom: 40px;
    }

    // text-transform: capitalize;
}

.large-title {
    font-size: var(--size24);
    font-weight: 400;
    line-height: 117%;
    // text-transform: capitalize;
}

.small-title {
    font-size: var(--size30);
    font-weight: 500;
    line-height: 117%;
}

.med-para p {
    color: #404040;
    font-size: var(--size24);
    font-weight: 400;
    line-height: 200%;
}

.comm-para p {
    font-size: var(--size18);
    font-weight: 400;
    line-height: 2;
}

.small-para p {
    font-size: var(--size16);
    font-weight: 400;
}

.text-semiBold {
    font-weight: 600 !important;
}

.text-medium {
    font-weight: 500 !important;
}

p {
    color: #404040;
}


@media all and (max-width:1600px) {
    :root {
        --size60: 50px;
        --size48: 40px;
        --size36: 30px;
    }
}

@media all and (max-width:1440px) {
    :root {
        --size52: 44px;
        --size30: 24px;
        --size24: 20px;
    }
}

@media all and (max-width:1366px) {
    :root {
        --size48: 32px;
        --size36: 34px;
    }
}

@media all and (max-width:1280px) {
    :root {
        --size52: 40px;
        --size36: 32px;
        --size30: 28px;
        --size24: 22px;
    }
}

@media all and (max-width:1200px) {
    :root {
        --size60: 40px;
        --size36: 24px;
    }
}

@media all and (max-width:1064px) {

    :root {
        --spc60: 46px;
        --size52: 34px;
        --size64: 52px;
        --size36: 30px;
        --size30: 26px;
        --size24: 20px;
    }
}

@media all and (max-width:990px) {

    :root {
        --size64: 48px;
        // --size52: 44px;
        --size36: 28px;
        --size30: 22px;
        --size24: 20px;
        --radius24: 18px;
    }
}

@media all and (max-width:834px) {
    :root {
        --size64: 46px;
        --spc60: 40px;
        // --size52: 42px;
        --size36: 26px;
    }
}

@media all and (max-width:640px) {
    :root {
        --spc60: 40px;
        --size52: 34px;
        --size48: 30px;
        --size36: 24px;
        // --radius24: 12px;
        // --radius12: 6px;
    }
}

@media all and (max-width:576px) {
    :root {

        --size64: 48px;
        --size52: 40px;
        --size36: 23px;
        --size30: 20px;
        --size24: 20px;
        // --size18: 16px;
        // --radius16: 6px;
    }
}

@media all and (max-width:480px) {
    :root {
        // --size48: 24px;
        --size60: 30px;
        --size52: 30px;
        --size24: 18px;
        // --size36: 20px;
        --radius24: 14px;
    }

    .sec-title {
        width: 100%;
        text-align: center;
    }

    .med-para p {
        color: #404040;
    }
}

@media all and (max-width:400px) {
    :root {
        --size52: 24px;
        --size48: 24px;
        --spc60: 24px;
        // --size36: 18px;
    }
}

@media all and (max-width:359px) {}