.footer-logo {
    width: 182px;
    height: 40px;

    img {
        object-fit: contain;
    }
}

.footer-top {
    .flex(space-between, flex-start);
}

.social-img {
    width: 30px;
    height: 30px;
    .flex();
    border-radius: 30px;
    background: #EEE;
    overflow: hidden;

    padding: 20px;

    i {
        .anim();
        cursor: pointer;
        color: #000;
    }

    &:hover {
        i {
            color: var(--clr-orange);
        }
    }
}

.footer-social {
    .flex(space-between);
    gap: 20px;
}

.footer-link {
    a {
        font-size: var(--size18);
        font-weight: 500;
        line-height: 1;
        color: #000;
        .anim();

        &:hover {
            color: var(--clr-orange);
        }
    }

    .f-row {
        gap: 40px 0;

    }

    li {
        width: 50%;

        &:before {
            content: url('../img/arrow-right.svg');
            margin-right: 10px;
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 0;
    }
}

.footer-bottom {
    .flex(space-between);
    width: 100%;
}

footer hr {
    border-top: 1px solid rgba(0, 0, 0, 0.07);
    margin: 60px 0 25px;
}

.footer-right {
    ul {
        .flex();
        gap: 50px;
    }

    a {
        font-size: 16px;
        color: #000;
        line-height: 1.1;
    }

    li {
        position: relative;

        &:before {
            content: '';
            width: 3px;
            height: 3px;
            background-color: #D9D9D9;
            border-radius: 100%;
            overflow: hidden;
            display: inline-block;
            position: absolute;
            top: 50%;
            left: -25px
        }

        &:first-child:before {
            width: 0;
        }
    }
}

.business-wrap {
    border-radius: var(--radius24);
    background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
    padding: 100px 0;
    .flex();
    flex-direction: column;
    margin-bottom: 30px;

    .sec-title {
        .max-width(740px);
        margin-bottom: 20px;
    }

    .comm-para {
        .max-width(690px);
        margin-bottom: 40px;
    }
}

.footer-bottom {
    padding-bottom: 40px;
}

.footer-mob-logo {
    display: none;
}


@media all and (max-width:1024px) {
    .footer-top {
        // flex-direction: column;
        gap: 50px;
    }

    .footer-link {
        width: 100%;

        li {
            width: 50%;
        }
    }

    .business-wrap {
        margin-bottom: 50px;
    }

    .footer-top {
        align-items: center;
        padding: 0px 0;
    }

    .footer-mob-logo {
        display: block;
    }

    .footer-logo {
        display: none;
    }
}

@media all and (max-width:768px) {
    .footer-link li {
        width: 50%;
    }

    // .footer-link ul {
    //     gap: 20px 0;
    // }
}

@media all and (max-width:640px) {
    footer hr {
        border-top: 1px solid rgba(0, 0, 0, 0.07);
        margin: 30px 0;
    }

    footer {
        padding: 40px 0 30px;
    }

    .footer-bottom {
        padding-bottom: 30px;
    }

    .footer-top {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media all and (max-width:480px) {

    .footer-bottom {
        flex-direction: column;
        gap: 30px;
    }

    .footer-top {
        flex-direction: column;
        gap: 50px;
        align-items: center;
    }

    .footer-logo {
        width: 120px;
    }

    .footer-social {
        // margin-top: 30px;
    }

    footer {
        padding: 0;
    }

    .footer-link a {
        font-size: 16px;
    }

}

@media all and (max-width:400px) {
    .footer-link li {
        // width: 100%;
    }
}