:root {
  --header-height: 100px;
  --header-scroll-height: 70px;
}

html,
body {
  width: 100%;
  font-family: 'General Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background: #FFF;
  // -webkit-touch-callout: none;
  // -webkit-user-select: none;
  // -khtml-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  // user-select: none;
}


::-webkit-scrollbar {
  width: 6px;
  background: #DFDFDF;
}

::-webkit-scrollbar-thumb {
  // background: var(--clr-orange);
  background: var(--clr-orange);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}


.container {
  max-width: 1300px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.main-container {
  padding-top: var(--header-height);
}

.comm-section {
  padding: var(--spc60) 0;
  position: relative;
}

.mb16 {
  margin-bottom: 16px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb0 {
  margin-bottom: 0px !important;
}

.mt0 {
  margin-top: 0px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}


// global styling
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lblue-bg {
  background: #F6FBFE;
}

.l-orange {
  background: #FEF7F4;
}

.l-yellow {
  background: #FDF7EA;
}

.l-purple {
  background: #F0F1FF;
}

// homepage
.solution-img {
  width: 112px;
  height: 112px;
}

.solution-right {
  .white-box {
    padding: 60px 50px 60px 90px;
    .flex(flex-start);
    gap: 80px;
    margin-bottom: 24px;
  }

  &.safety-content-right {
    width: 49.6%;
  }

  .solution-content {
    flex: 1;

    .small-title {
      margin-bottom: 16px;
    }
  }

  .sticky-content {
    top: calc(var(--header-height) + 100px);
  }
}

.solution-left {
  .sticky-content {
    top: calc(var(--header-height) + 100px);
    width: 78%;
  }
}

.learning-img {
  width: 572px;
  height: 496px;
  border-radius: var(--radius16);
  overflow: hidden;

  img {
    object-fit: contain;
  }
}

.safety-learn {
  img {
    object-fit: cover;
  }
}

.learning-wrap {
  border-radius: var(--radius24);
  overflow: hidden;
  .flex();
  gap: 150px;
  padding: 60px;
  padding-right: 0;
}

.img-left {
  padding-left: 0;
  padding-right: 60px;
}


.learning-content {
  flex: 1;

  .sec-title,
  .large-title {
    margin-bottom: 16px;
  }
}

.case-wrap {
  border-radius: var(--radius24);
  border: 1px solid #DBDBDB;
  padding: 22px 68px 22px 24px;

  .small-title {
    margin: 16px 0;
  }

  .comm-para {
    margin-bottom: 42px;
  }
}

.chip {
  span {
    border-radius: 5px;
    background: rgba(239, 65, 35, 0.07);
    color: var(--clr-orange);
    font-size: var(--size14);
    font-weight: 500;
    letter-spacing: -0.1px;
    padding: 4px 12px;
  }
}

.sec-header {
  .flex(space-between);
  margin-bottom: 42px;
}


// slider swiper
.app-swiper,
.app-content-swiper {
  .swiper-slide {
    background: #FFF !important;
  }
}

.swiper-container {
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.swiper-progress-bar {
  width: 950px;
  height: 4px;
  position: relative;
  margin: 20px auto;
  background: var(--clr-paleOrange);

  .progress {
    height: inherit;
    left: 0;
    top: 0;
    position: absolute;
    background: var(--clr-lightorange);
    z-index: 1;
  }

  .progress-sections {
    left: 0;
    top: 0;
    position: absolute;
    height: inherit;
    width: inherit;
    z-index: 2;
    display: flex;
    flex-direction: row;

    span {
      flex: 1;
      height: inherit;
      border-right: 34px solid #FFF;
      // border-right: 34px solid red;

      &:last-child {
        border-right-width: 0;
      }
    }
  }
}

.swiper-counter {
  width: 600px;
  margin: 0 auto;
}

.tab-wrap {
  width: 954px;
  .flex();
  gap: 34px;
  // margin-bottom: 16px;
  // margin-top: 32px;
  margin: 32px auto 16px;

  div {
    border-radius: var(--radius16);
    background: #FEF7F4;
    padding: 19px 32px;
    // overflow: hidden;
    color: var(--clr-black);
    line-height: 117%;
    width: 100%;
    text-align: center;
    color: #000;
    text-align: center;
    font-size: var(--size24);
    font-weight: 500;
    line-height: 117%;
    height: 94px;
    .flex();
    .anim();

    &.active {
      background: var(--clr-lightorange);
      color: var(--clr-white);
    }
  }

  .progress {
    position: relative;

    &:before,
    &:after {
      content: '';
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -10px;
    }

    &::after {
      width: 100%;
      background: var(--clr-paleOrange);
    }



    &.active {
      &:before {
        background: var(--clr-lightorange);
        width: 0%;
        z-index: 5;
        animation: progressBar 3.5s infinite ease-in-out;
      }

      @keyframes progressBar {
        from {
          width: 0px;
        }

        to {
          width: 100%
        }
      }
    }

  }
}

.image-content-box {
  .flex(space-between);
  gap: 100px;
  margin-top: 100px;
}

.app-content-card {

  .large-title,
  li {
    text-align: left;
    margin-bottom: 24px;


  }


}

.orange-arrow {
  li {
    position: relative;
    padding-left: 30px;

    &:before {
      content: url(../img/orange-right.svg);
      margin-right: 12px;
      position: absolute;
      left: 0px;
    }
  }
}

.appContentSwiper {
  flex: 1;
}

.energy-swiper {
  width: 100%;

  .swiper-slide {
    background: #FFF !important;
    height: auto;
  }
}

.energy-content {
  width: 85%;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .large-title {
    margin-bottom: 8px;
  }

  .comm-para {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    margin: 0 auto 20px;
    gap: 0 70px;
  }

  li {
    position: relative;
    padding-left: 30px;
    width: 45%;
    text-align: left;

    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }


  }
}

.relief-cont {
  .med-para p.text-semiBold {
    font-weight: 500;
  }
}

// .safety-study-content-wrap {
//   padding-top: 100px;
// }

.sticky-text-sec {
  .relief-cont {

    &:last-child {
      margin-bottom: 0px;
    }
  }

  .safety-study-content-wrap {
    // padding-top: 100px;
    margin-bottom: 90px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .sticky-content {
    width: 70%;
  }
}

.img-text-box {
  &.learning-wrap {
    gap: 36px
  }

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  .learning-img {
    width: 610px;
    height: 424px;
  }
}

.black-wrap {
  width: 100%;
  height: 673px;
  border-radius: var(--radius24);
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.black-content {
  border-radius: var(--radius12);
  ;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.10);
  backdrop-filter: blur(30px);
  position: absolute;
  bottom: 34px;
  left: 40px;
  width: 50%;
  padding: 34px 40px;

  .small-title {
    margin-bottom: 14px;
  }
}

.two-col {
  margin-bottom: 42px;
}

.project-img {
  width: 520px;
  height: 462px;
  border-radius: var(--radius24);
  overflow: hidden;
  .flex();

  img {
    object-fit: contain;
  }
}

.project-wrap {
  .sec-title {
    margin-bottom: 74px;
  }
}

.project-box-card {
  display: flex;
  justify-content: flex-start;
  gap: 66px;

  &:nth-child(even) {
    flex-direction: row-reverse;
    // justify-content: flex-end;
  }
}

.project-content {
  .large-title {
    margin-bottom: 16px;
  }

  li {
    margin-bottom: 10px;
  }
}

.phase-number {
  background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
  width: 125px;
  height: 125px;
  border-radius: 100%;
  overflow: hidden;
  .flex();
  position: relative;
  border: 25px solid #FFF;


}

.project-tile {
  // flex: 1;
}

.project-left,
.project-right,
.project-timeline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // flex: 1;
  height: 100%;
}

.project-timeline {
  position: sticky;
  top: calc(var(--header-height) + 100px);
  // position: relative;

  &:before {
    content: '';
    width: 8px;
    height: 100%;
    display: inline-block;
    // position: absolute;
    background: #F5F5F5;
    // background: red;
    lefT: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 0;
  }
}

.project-height {
  position: relative;
}

.project-trigg {
  position: absolute;
}

.orange-timeline {
  width: 8px;
  height: 0;
  margin: 0 auto;
  background-color: #EC2A25;
  position: absolute;
  top: 0;
  z-index: 0;
  left: 50%;
  transform: translate(-50%);

  &:after {
    content: '';
    width: 8px;
    height: 40%;
    background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    position: absolute;
    display: inline-block;
    top: 0;
    lefT: 0%;
  }
}

// .project-box-card {
//   position: absolute;
//   width: 100%;
//   visibility: hidden;
//   opacity: 0;
// }

.anim-text {
  color: #E7B298;
  font-size: var(--size60);
  font-weight: 400;
  width: 85%;
  margin: 0 auto;

  div {
    background: linear-gradient(to right,
        #fff 50%,
        #E7B298 50%);
    background-size: 200% 100%;
    background-position-x: 100%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.3;
  }

  span {
    background: var(--vio);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}

.orange-bg-sec {
  background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
  z-index: 10;
  // position: fixed;
  opacity: 0;
  visibility: hidden;
  // position: absolute;
  width: 100%;
  transform: scale(1.2);
  height: 100vh;
  .flex();
  // left: 50%;
  // top: 50%;
  // transform: translate(-50%, -50%);
}

.orange-bg-sec-wrap {
  height: 250vh;
  position: relative;
  z-index: -1;
}

.show-orange-sec-trigger {
  position: absolute;
  top: 100vh;
}

// grid  styling

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 3 / 4;
}

.div2 {
  grid-area: 1 / 4 / 2 / 7;
}

.div3 {
  grid-area: 1 / 7 / 2 / 9;
}

.div4 {
  grid-area: 2 / 4 / 3 / 6;
}

.div5 {
  grid-area: 2 / 6 / 3 / 9;
}

.big-count.count {
  font-size: 60px;
  font-weight: 500;
  line-height: 117%;
}

.small-count.count {
  font-size: 40px;
  font-weight: 500;
  line-height: 117%;
}

.dot1 {
  // background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
  width: 72px;
  height: 72px;
}

.dot2,
.dot3,
.dot4,
.dot5 {
  width: 36px;
  height: 36px;
}

.circle {
  border-radius: 100%;
  overflow: hidden;
}

.grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 34px 30px 44px 34px;
  gap: 30px;
}

.parent>div {
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.parent {

  position: relative;

  .count {
    margin-bottom: 16px;
    display: inline-block;
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid #FFF;
  }
}

.area-tab-wrap {
  border-radius: var(--radius24);
  background: #F7FBFE;
  overflow: hidden;
}

.tab-box {
  display: flex;
  justify-content: space-between;
  gap: 150px;
}



.area-tab-wrap {
  padding: 80px 66px;
  position: relative;

  .tab-wrap div {
    height: auto;
    padding: 0;
  }

  .tab-wrap {
    width: 100%;
  }

  .tab-content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .tab-nav-wrap {
    ul {
      border-radius: var(--radius16);
      background: #FFF;
      padding: 10px;
      width: 338px;
      display: flex;
      flex-direction: column;
      gap: 32px;
      position: relative;
    }

    li {
      position: relative;
      z-index: 1;

      a {
        color: #000;
        font-size: 24px;
        font-weight: 500;
        line-height: 117%;
        text-align: left;
        display: block;
      }

      padding: 24px 32px;

      &:after {
        content: url(../img/black-arrow.svg);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 42px;
      }

      &.active {
        // background: #FFE4D9;
        background: transparent;
        // border-radius: var(--radius12);
        ;

        a {
          color: var(--clr-orange);
        }

        &:after {
          content: url(../img/orange-tab-arrow.svg);
        }

      }
    }
  }


}

.area-img {
  width: 700px;
  height: 490px;

  img {
    object-fit: contain;
  }
}

.sec-subtitle {
  font-size: 32px;
}

.service-small-card {
  border-radius: var(--radius16);
  overflow: hidden;
  padding: 30px 34px 30px 30px;
  height: 100%;
}

.service-small-img {
  width: 170px;
  height: 142px;
  margin-bottom: 32px;

  img {
    object-fit: contain;
  }
}


.service-wrap {
  width: 85%;
  margin: 0 auto;

  .sec-title {
    margin-bottom: 14px;
  }

  .sec-subtitle {
    margin-bottom: 54px;
  }

  .med-para p {
    font-weight: 500;
  }


}

.service-big-card {
  padding: 36px 82px 60px 80px;
  .flex(space-between);
  // margin-top: 35px;
  gap: 0px;
  flex-direction: column;
  border-radius: var(--radius16);

  .counter-para {
    margin-bottom: 44px;
  }

  .f-row {
    width: 100%;
    justify-content: space-between;
  }
}

.service-big-img {
  width: 446px;
  height: 370px;

  img {
    object-fit: contain;
  }
}

.service-big-content {
  flex: 1;
}


.industries-detail {
  background: #FFF;
  .flex();
  align-items: flex-start;
  flex-direction: column;
  height: 100%;

  .sec-title {
    margin-bottom: 28px;
    .max-width(306px);
    line-height: 1.2;
  }

  .comm-para {
    .max-width(338px);
  }
}

.indDetailSwiper {
  height: 400px;

  .swiper-slide {
    text-align: left;
    display: flex;
    align-items: center;
    height: auto;
  }
}

.indNameSwiper {
  height: 400px;
  width: 400px;
  position: relative;

  .swiper-slide {
    .flex();
  }

  &:before {
    content: '';
    width: 100%;
    height: 144px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: inline-block;
  }

  &:after {
    content: '';
    width: 100%;
    height: 144px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: inline-block;
  }
}

.industries-wrap {
  .flex();
  gap: 60px;
}

.industries-name {
  text-align: center;
  // font-size: 48px;
  // font-weight: 500;
  font-size: 40px;
  font-weight: 700;
  transition: 3s all ease-out;
  color: #D9D9D9;
  // .max-width(0%);
  line-height: 1.2;
}

.swiper-slide-active {
  .industries-name {
    // font-size: 60px;
    // font-weight: 700;
    color: var(--clr-lightorange);
  }
}

.testi-card {
  .flex();
  flex-direction: column;

  .sec-title {
    margin-bottom: 72px;
    .max-width(700px);
  }

  .large-title {
    .max-width(1076px);
    font-weight: 400;
    margin-bottom: 48px;
    line-height: 1.6;
  }
}

.user-wrap {
  .flex();
  gap: 16px;

  .med-para p {
    font-weight: 500;
  }
}

.user-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-img {
  width: 72px;
  height: 72px;
  border-radius: 100%;
  overflow: hidden;
}

.cs-swiper-box-btm .knowledge-card-title {
  font-size: var(--size20);
  font-weight: 600;
  letter-spacing: -0.2px;
  text-align: left;
  margin-bottom: 16px;
  color: #000;
}

.knowledge-sec {
  .cs-swiper-img {
    margin-bottom: 18px;
  }
}

.blog-detail {
  display: flex;
  align-items: center;
  gap: 28px;

  &>span {
    position: relative;
    color: #404040;

    &:before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      overflow: hidden;
      background-color: #D9D9D9;
      position: absolute;
      display: inline-block;
      left: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.swiper-linear {
  transition-timing-function: linear;
}

.banner-wrap {
  .flex();
  flex-direction: column;
  gap: 40px;
  position: relative;
  height: 100vh;
  // height: calc(100vh - calc(var(--header-height) + 100px));
  // padding-top: calc(var(--header-height) + 200px);

  .banner-title {
    .max-width(700px);
    margin-bottom: 42px;
    text-align: center;
    font-size: var(--size52);
  }

  .comm-para {
    .max-width(488px);
  }

  .container {
    position: absolute;
    z-index: -1;
    top: var(--header-height);
  }

  .mob-banner-content {
    .banner-title {
      max-width: 80%;
      margin: 0 auto 30px;
    }
  }
}

.banner-subdscr {
  .flex();
  flex-direction: column-reverse;
  gap: 40px;
  position: relative;

  p {
    text-align: center;
  }
}

.banner-card {
  // background: var(--clr-white);
  border-radius: 10px;
  // overflow: hidden;
  // border: 1px solid #F1F1F1;

  .five-card {

    box-shadow: 0px -5.34469px 313.888px 0px rgba(0, 0, 0, 0.11);

  }

  // width: fit-content;
  position: relative;

  // .med-para {
  //   flex: 1;

  //   p {
  //     font-weight: 500;
  //     line-height: 1.5;
  //   }
  // }

  // display: flex;
  // align-items: center;
  // gap:10px;

  // img {
  //   object-fit: contain
  // }
}

.card-img-1 {
  .img-wh(124px, 124px);
}

.card-img-2 {
  .img-wh(75px, 150px);
}

.card-img-3 {
  .img-wh(192px, 154px);
}

.card-img-4 {
  .img-wh(123px, 94px);
}

.card-1 {
  transform: scale(0.6);
  left: -10%;
  top: -20%;
}

.card-2 {
  transform: scale(0.5) translateY(-190px);
  top: -5%;
  right: 0%;
}

.card-3 {
  transform: scale(0.5);
  left: 5%;
  bottom: -12%;
}


.card-4 {
  transform: scale(0.55);
  right: 20%;
  bottom: 5%;
}

.card-5 {
  transform: scale(0.55);
  right: -30%;
  bottom: 5%;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  img {
    object-fit: contain;
  }
}

.banner-height {
  position: relative;
  // height: 200vh;
}

.banner-trigg {
  position: absolute;
  width: 100%;
}

.banner-card-wrap {
  position: relative;
  height: calc(100svh - var(--header-height));
  .flex();
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;

  .f-row {
    position: absolute;
  }
}

.banner-2 {
  top: 100vh;
}

.banner-title {
  line-height: 1.1;
  margin-bottom: 5px;

  span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;
    // background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
  }
}

.gsap-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
  position: fixed;
  // position: absolute;
  z-index: 9;
  opacity: 0;
}

.fold2-dot-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 305px;
  height: 305px;
}

.fold2-dot {
  border-radius: 100%;
  overflow: hidden;
  position: absolute;
}

.fold2-dot-1,
.fold2-dot-2,
.fold2-dot-3 {
  width: 62px;
  height: 62px;
  // background: linear-gradient(47deg, #EC2227 -27.78%, #EC2A25 5.43%, #EF4123 58.02%, #F4681E 121.67%, #FA9C18 196.4%, #FDB515 226.84%);
  // background: gray;
}

.fold2-dot-4,
.fold2-dot-5,
.fold2-dot-6 {
  width: 82px;
  height: 82px;
  // background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
  // background: gray;
}

.fold2-dot-6 {
  // background: linear-gradient(46deg, #EC2227 -149.04%, #EC2A25 -123.79%, #EF4123 -83.81%, #F4681E -35.4%, #FA9C18 21.41%, #FDB515 44.56%);
  // background: gray;
}

.fold2-dot-1 {
  top: 0%;
  left: 0%;
  transform: translate(0px, 10px);
}

.fold2-dot-2 {
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 10px), calc(-50% + 10px));
}

.fold2-dot-3 {
  bottom: 0;
  right: 0%;
  transform: translate(-10px, -0px);
}

.fold2-dot-4 {
  top: 0;
  left: 50%;
  transform: translate(calc(-50% - 10px), 0%);
}

.fold2-dot-5 {
  top: 50%;
  right: 0%;
  transform: translate(-0%, calc(-50% + 10px));
}

.fold2-dot-6 {
  top: 0;
  right: 0;
}

.fold3-dot-1 {
  position: absolute;
  top: 0;
  left: 0;
}

.fold3-dot-2 {
  position: absolute;
  top: 0;
  right: 0;
}

.fold3-dot-3 {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fold3-dot-4 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.fold3-dot {
  width: 50px;
  height: 50px;
}

.fold3-dot-wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.projectRightSwiper,
.projectLeftSwiper,
.project-timeline {
  height: 462px;

  .swiper-slide {
    .flex(flex-start);
    text-align: left;

  }
}

.projectRightSwiper,
.projectLeftSwiper {
  border-radius: var(--radius24);
  overflow: hidden;
}

.project-box-wrap {
  .flex(space-between);
  gap: 80px;
}

.mob-project-content,
.mob-project-box {
  display: none;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.approach-img {
  img {
    object-fit: contain;
  }
}

.mob-approach-content,
.mob-tab-wrap {
  display: none;
}

.energy-sec {
  padding-bottom: 0;
}

.area-height {
  position: relative;
  // height: 400vh;
}

.area-trigg {
  position: absolute;
}

.tab-bg {
  border-radius: 12px;
  background: #FFE4D9;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 0;
  .anim(0.6s);
}

.anim-sec {
  padding: 200px 0;
}

.no-big-text {
  .page-bnr {
    margin-bottom: 0;
  }
}




.mob-btn {
  display: none;
}

.mob-top-banner,
.mob-bottom-banner {
  display: none;
}


.contact-wrap {
  .flex(space-between);
  gap: 150px;
}

.adress-tile-icon {
  width: 24px;
  height: 24px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.address-tile {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  span {
    font-weight: 600;
    margin-right: 5px;
  }

  .comm-para p {
    line-height: 1.8;
  }

  a {
    color: #000;
    .anim();

    &:hover {
      color: #EF4123
    }
  }
}

.address-para-wrap {
  display: flex;
}

.office-location {
  color: #404040;
  font-size: var(--size24);
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 20px;
}

.contact-card {
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact-right {
  padding: 36px 40px 36px 45px;
  border-radius: 24px;
  overflow: hidden;
  flex: 1;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
}

.btn-center {
  display: flex;
  margin: 0 auto;
  background: #EF4123;
  width: 140px;

}

// .blog-sec {
//   .swiper-wrapper {
//     flex-wrap: wrap;
//     // gap: 40px;
//   }
// }

.blogpage-tile-wrap {
  .flex(space-between, flex-start);
  margin-bottom: 32px;
  margin-top: 14px;

  .banner-title {
    width: 80%;
  }
}

.blog-img {
  width: 100%;
  height: 518px;
  border-radius: var(--radius24);
  overflow: hidden;
  margin-bottom: 50px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.blog-para-wrap {
  p {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.swiper-slide {
  a {
    color: #000;
  }
}

.contact-main {
  .business-wrap {
    display: none;
  }
}

.blog-wrap {
  .f-row {
    gap: 20px 0;
  }
}

.cs-swiper-box-btm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: var(--size24);
    font-weight: 500;
  }
}

.case-swiper {
  .swiper-slide {
    height: auto;
  }
}

.cs-swiper-box {
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.service-wrap {
  .comm-para p {
    line-height: 1.8;
  }

  .sec-title {
    margin-bottom: 44px;
  }

  .f-row {
    margin-bottom: 40px;
  }

  .service-big-card {
    .f-row {
      margin-bottom: 0;
    }
  }
}

.cs-swiper-box-btm.service {
  flex-direction: row;
}

.contact-wrap {
  margin-bottom: 60px;
}

.body .is-layout-flex {
  flex-direction: column;

  img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }
}

.blog-title {
  font-size: var(--size36);
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.36px;
  max-width: 845px;
  width: 100%;
}

.chip {
  .flex(flex-start);
  flex-wrap: wrap;
  gap: 5px;
}

.team-header-wrap {
  .sec-title.t-center {
    margin-bottom: 10px;
  }
}

.blog-wrap {
  max-width: 100%;
  margin: 0 auto;
}

.wpcf7-form {
  .button {
    line-height: 1;
  }
}

.section-left.counter-broad {
  width: 30%;

  .large-title {
    margin-bottom: 16px;
  }
}

.error-wrap {
  .flex();
  flex-direction: column;
}

.error-img {
  width: 585px;
  height: 338px;
  margin-bottom: 14px;
}

.error-title {
  color: #000;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 117%;
  max-width: 518px;
  width: 100%;
  margin-bottom: 22px;
}

.blog-detail-wrap {
  width: 80%;
  margin: 0 auto;
}

.of-hidden {
  overflow: hidden;
}

.video-head {
  width: 60%;
  margin: 0 auto;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  // border-radius: 24px;
  overflow: hidden;
}

.sec-video {
  height: 595px;
  border-radius: var(--radius24);
  overflow: hidden;
}

.implement-wrap {
  .sec-video {
    height: 655px;
  }
}

.usecase-img {
  height: 100%;
  border-radius: var(--radius24);
  overflow: hidden;
  overflow: hidden;
}

.usecase-content {
  position: absolute;
  left: 40px;
  padding-right: 54px;
  bottom: 50px;
  // display: none;
  opacity: 0;
  visibility: visible;
  z-index: -1;
  .anim(0.6s);
  transition-delay: 0.3s;
  transform: translateY(50px);
  // display: none;
  width: 95%;

  .comm-para p {
    color: #FFF;
  }

}

.usecase-content-2 {
  transform: rotate(270deg);
  position: absolute;
  bottom: 220px;
  left: -70px;
  width: 350px;
  z-index: 6;
  // display: block;
  visibility: visible;
  opacity: 1;
  .anim(0.6s);
  transition-delay: 0.3s;

  // display: none;
}

.usecase-card {
  position: relative;
  // width: 17%;
  flex: 1 0 0;
  transition: flex 0.8s ease-in-out;

  &:before {

    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 24px;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.70) 100%);
    .anim(0.8s);
  }


  &.active {
    // width: 55%;
    flex: 3;
    background: none;
    background: transparent;

    .usecase-content {
      z-index: 2;
      opacity: 1;
      visibility: visible;
      transform: translateY(0px);
    }

    .usecase-bottom {
      display: flex;
      align-items: center;
    }

    &:before {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%);
    }

    .usecase-content-2 {
      // display: none;
      opacity: 0;
      visibility: hidden;
      z-index: 0;
    }
  }
}

.usecase-title {
  color: #FFF;
  font-size: var(--size30);
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.3px;
  text-transform: capitalize;
  margin-bottom: 8px;

}



.link-arrow {
  width: 62px;
  height: 62px;
  background-color: #FFF;
  border-radius: 100%;
  overflow: hidden;
  .flex();

  a {
    .flex();
    width: 40px;
    height: 40px;
  }

  i {
    font-size: 40px;
    color: #000;
  }


}

.usecase-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  display: none;

  .comm-para {
    flex: 1;
  }
}

.usecase-gallery {
  display: flex;
  gap: 20px;
  height: 482px;
}

.knowledge-wrap {
  .cs-swiper-img {
    height: 222px;
    border-radius: 24px;
  }
}

.blog-category {
  font-size: var(--size36);
  font-weight: 500;
  line-height: normal;
  margin-bottom: 40px;
}

.category-wrap {
  margin-bottom: 100px;
}

.counter-value {
  color: #F4681E;
  font-size: var(--size48);
  font-weight: 600;
  line-height: 117%;
  margin-bottom: 16px;
}

.counter-para {
  p {
    color: #404040;
    font-size: var(--size24);
    font-weight: 600;
    line-height: normal;
  }
}

.value-para p {
  color: #404040;
  font-size: var(--size24);
  font-weight: 400;
  line-height: normal;
}

.new-home {
  &.main-container {
    padding-top: 0;
  }
}

// .new-home-header {
.header-new-wrap {
  border-radius: 16px;
  border: 1px solid #F3F3F3;
  background: rgba(255, 255, 255, 0.50);
  backdrop-filter: blur(35px);
}

// }


.five-card {
  position: relative;
  padding: 30px;
  height: 316px;
  width: 100%;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.20);
  box-shadow: 0px 8px 80px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  overflow: hidden;

  h3 {
    color: #000;
    font-size: var(--size24);
    font-weight: 600;
    line-height: 150%;
    width: 210px;
  }
}

.five-img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 70%;
}

.five-card-wrap {
  .f-row {
    gap: 40px 0;
    justify-content: center;
  }
}

.big-sec {
  padding: 100px 0;
}

.ai-banner-video {
  height: 520px;


  video {
    border-radius: var(--radius24);
    overflow: hidden;
  }
}

.banner-sticky {
  height: 100vh;
}

.home-banner-video {
  height: 100dvh;
  width: 100%;
  // position: absolute;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
  visibility: hidden;

  video {
    object-position: top;
  }

  iframe {
    width: 100%;
    height: 100%;
  }

  // &::before {
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   background: transparent;
  //   display: block;
  //   position: absolute;
  //   z-index: 5;
  // }
}

.g-logo-wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

.g-logo {
  width: 832px;
  height: 510px;
  transform: scale(0);
}

.wordcloud-img {
  width: 100%;
  height: auto;
}

.ov-hidden {
  overflow: hidden;
}

.feature-card-wrap {
  padding: 80px;
  border-radius: var(--radius24);
  overflow: hidden;
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }

  .f-col {
    padding: 0 30px;
  }

  .f-row {
    margin-left: -30px;
    margin-right: -30px;
    align-items: center;
  }
}

.feature-title {
  color: #000;
  font-size: var(--size36);
  font-weight: 500;
  line-height: 116%;
  margin-bottom: 16px;
}

.feature-img {
  border-radius: var(--radius24);
  overflow: hidden;
}

.feature-wrap {
  .sec-title {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

.reliability-content {
  width: 85%;
  margin: 0 auto;

  h2 {
    color: #000;
    font-size: var(--size36);
    line-height: 166%;
    margin-bottom: 20px;
  }

  p {
    margin-bottom: 20px;
    font-size: var(--size24);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.img-wrap {
  width: 100%;
  height: auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.rel-banner-sec {
  .img-wrap {
    margin-bottom: 76px;
  }
}


.footer-right {
  display: flex;
  align-items: center;
  gap: 50px;
}

.partner-wrap {
  .f-col {
    padding: 0;
    .flex();
    border: 1px solid #D8D8D850;
  }

  .partner-img {
    padding: 40px;
  }

  .f-row {
    flex-wrap: wrap;
    border: 1px solid #D8D8D850;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  img {
    filter: grayscale(1);
  }
}




.comm-video-btn {
  // width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  right: 10px;
  bottom: 0px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 6;
}

.partner-img {
  p {
    color: #F1882B;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
  }
}

.banner-logo-trigger {
  top: 400vh;
  position: absolute;
}

.numbers-sticky {

  .sec-title,
  .sec-title span {
    color: #F4681E;
    font-size: var(--size48);
    font-weight: 600;
    line-height: 117%;
    margin-bottom: 20px;


  }

  span {
    color: #404040;
    font-size: var(--size24);
    font-weight: 400;
    line-height: normal;
    // padding-left: 40px;
    // width: 200px;
  }

  .large-title p {
    color: #404040;
    font-size: var(--size24);
    font-weight: 600;
    line-height: normal;
  }
}

.value-number-box {
  .large-title {
    margin-bottom: 40px;
  }
}

.value-row {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .sec-title {
    width: 100px;
    margin-bottom: 0;
    font-size: var(--size36);
  }
}

.mob-five-card {
  display: none;
}

.mob-content {
  display: none;
}

.mob-g-logo {
  width: 70%;
  margin: 0 auto;
}

.play-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #EF4123;
  position: relative;
  z-index: 1;
  border-radius: 0 40px 40px 0;

  h5 {
    color: #fff;
    position: relative;
    z-index: 15;
    letter-spacing: 2px;
    // font-weight: 600;
  }

  &::before {
    content: '';
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -30px;
    background: #EF4123;
    z-index: 0;
    border-radius: 100%;
  }
}

/* // -------------------------file upload-------------------- */
.drop-zone {
  height: 100%;
  padding: 25px;
  .flex();
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  color: #000;
  border-radius: 10px;
  /* max-width: 480px; */
  /* background: #f5fafe; */
  border-radius: 10px;
  width: 100%;
  height: 100px;
  border: 2px dashed #DFBDAE;
}

.drop-zone__prompt {
  .flex();
  flex-direction: column;
  margin: 22% 0;
  color: #DFBDAE;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;
  color: #000;
  /* background: rgba(0,0,0,0.75); */
  font-size: 20x;
  text-align: center;
  font-weight: 600;
}

.career-wrap {
  width: 60%;
  margin: 40px auto 0;

  .office-location {
    text-align: center;
  }

  button {
    margin-top: 10px;
  }
}