.header-top {
    .flex(space-between);
    padding: 16px 20px 16px 20px;
    // padding-bottom: 20px;

}

.header-bottom {
    padding: 10px 0;
    display: none;

    .header-list {
        .flex(space-around);
    }
}

.header-new-wrap {
    border: 1px solid #F3F3F3;
    border-radius: var(--radius16);
    margin-top: 18px;
}

.logo {
    width: 180px;
    height: 40px;

    img {
        object-fit: contain;
    }
}

.home-header {
    .header-bottom {
        display: block;
    }

    .header-top {
        border-bottom: 1px solid #F3F3F3;
    }

    .header-box {
        height: 170px;
    }

    .main-container {
        // padding-top: calc(var(--header-height) + 100px);
        padding-top: calc(var(--header-height) + 100px);
    }

}

.js-nav-toggle {
    background: #EF4123;
    border-radius: 4px;

}

@media all and (max-width:1024px) {
    .header-list {
        width: max-content;
    }

    .header-bottom {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        /* width */
        &::-webkit-scrollbar {
            height: 4px;
            border-radius: 24px;
            overflow: hidden;
        }

        /* Track */
        & ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #EF4123;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }

    .menuBtn .button,
    .home-header .header-bottom {
        display: none;
    }



    .home-header .header-top {
        border-bottom: none;
    }

    .home-header .header-box {
        height: 80px;
    }
}

@media all and (max-width:640px) {
    .header-new-wrap {
        margin-top: 10px;
    }


    .mob-navigation a {
        padding: 0.5em 1em;
        font-size: 18px;
    }
}

@media all and (max-width:480px) {
    .logo {
        width: 100px;
        height: 26px;
    }

    .header-top {
        // margin: 6px 10px;

        .button {
            height: 40px;
            padding: 0 20px;
        }
    }
}