@media all and (max-width:1600px) {
    // .page-big-content {
    //     margin-top: 0;
    // }
}

@media all and (max-width:1366px) {

    .learning-wrap {
        gap: 100px;
        padding-right: 60px;
    }

    .page-bnr {
        height: auto;
    }

    .page-bnr-1 {
        height: 450px;
    }

    .digitals-sticky {
        top: 18%;
    }

}

@media all and (max-width:1280px) {

    .med-para p {
        line-height: 180%;
    }

    .page-bnr-1 {
        height: 390px;
    }

    .learning-img {
        width: 538px;
        height: 466px;
    }

    .learning-wrap {
        gap: 90px;
    }

    .acco-hdn {
        font-size: 24px;
        line-height: 1.4;
    }

}

@media all and (max-width:1200px) {
    .quality-img {
        max-width: 500px;
        width: 100%;
        height: auto;
    }

    .culture-img {
        height: 400px;
    }
}

@media all and (max-width:1064px) {

    .section-right {
        width: 70%;
    }

    .learning-wrap {
        gap: 80px;
    }

    .page-bnr-1 {
        height: 310px;
    }

    .learning-img {
        width: 390px;
        height: 396px;
    }

    .var-procs-img {
        max-width: 480px;
    }

    .relief-cont ul li {
        line-height: 2;
    }

    footer {
        // padding: 50px 0;
    }

    .advisor-img {
        width: 100%;
        height: 336px;
    }

    .vision-mission-box {
        min-height: 500px;
        margin-bottom: 30px;
        padding: 30px;

        &:last-child {
            margin-bottom: 0;
        }

        p,
        li {
            line-height: 1.5;
        }
    }

    .vm-icon {
        width: 185px;
        height: 145px;
    }

    .value-content {
        min-height: 100%;
    }

    .quality-sec-wrap {
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .quality-left {
        max-width: 100%;
        width: calc(100% - 30px);
        margin-bottom: 30px;
    }

    .quality-img {
        height: 450px;
    }

    .label-app-left {
        flex-direction: column-reverse;
    }

    .acc-main-box {
        width: 100%;
        margin-top: 30px;



        .swiper.comm-swiper .swiper-wrapper {
            display: flex;
        }

        .accSwiper {
            max-width: 1000px;
        }
    }

    .swiper-slide {
        // background: transparent;
    }

    .acc-dot {
        display: none;
    }

    .roadmap-box {
        flex-direction: column;
    }

    .road-map-cont {
        width: 100%;
        margin-top: 30px;
    }

    .vision-sec {
        .f-row {
            gap: 30px;
        }
    }

    .label-app-left {
        align-items: center;
    }

    .accSwiper {
        // .swiper-wrapper {
        //     justify-content: center;
        // }

        .acco-hdn {
            text-align: center;
        }
    }

    .label-app-box {
        justify-content: center;
    }


    .culture-img {
        height: 300px;
    }
}


@media all and (max-width:990px) {

    .page-bnr {
        height: 270px;
    }

    .relief-cont ul li {
        line-height: 1.8;
    }

    .learning-wrap {
        gap: 80px;
        padding: 40px;
        padding-right: 40px;
    }

    .digitals-sticky {
        top: 20%;
        overflow: hidden;
        padding-bottom: 60px;
    }

    .digitals-dtl-box {
        padding: 18px !important;
        margin-bottom: 0px !important;
    }

    .digital-cotent .small-title {
        font-size: 24px;
    }

    .safety-content-left {
        max-width: 336px;
    }

    .roadmap-box {
        padding: 70px 74px 60px;
    }

    .acc-dot {
        display: none;
    }

    .acco-hdn {
        color: rgba(39, 45, 55, 1);
    }

    .acc-main-box {
        width: 100%;
    }

    .advisor-wrap {
        flex-direction: column;
        padding-right: 60px;
    }

    .team-img-swiper {
        max-width: 100%;
    }

    .team-info-swiper {
        max-width: 100%;
        width: 100%;
    }

    .team-mem-boxes-wrap .f-col {
        margin-bottom: 50px;
    }

    .learning-wrap {
        gap: 50px;
    }

    .learning-wrap.img-left {
        padding-left: 0;
    }

    .img-text-box .learning-img {
        width: 410px;
        height: 300px;
    }

    .quality-sec-wrap {
        gap: 20px;
    }

    .team-detail {
        height: 83%;
        overflow: auto;
    }

    .label-app-right {
        max-width: 542px;
    }

    .label-img {
        img {
            object-fit: contain;
        }
    }

    .learning-wrap {
        gap: 40px;
        flex-direction: column-reverse;
    }

    .learning-wrap.img-left {
        flex-direction: column;
        padding: 30px;
    }
}

@media all and (max-width:834px) {

    .count-box {
        padding: 20px 20px 30px;
    }





    .learning-img {
        width: 100%;
        height: 346px;
    }

    .var-procs-img {
        max-width: 430px;
    }

    .var-procs-sec-wrap {
        flex-direction: column;
        gap: 40px;
    }

    .sec-hedr-left {
        width: 100%;
    }

    .var-procs-img {
        max-width: 100%;
    }

    .section-wrap {
        flex-direction: column;
    }

    .section-left,
    .section-right {
        width: 100%;
    }

    .expr-sec {
        margin-top: 30px;
    }

    .soft-stndrd-img-wrap {
        .f-row {
            gap: 40px;
        }
    }

    .soft-stndrd-img {
        max-height: 530px;
    }

    br {
        display: none;
    }

    .safety-study-content-wrap {
        flex-direction: column;

        .white-box {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .sticky-cont-wrapper,
    .safety-content-right {
        width: 100%;
    }

    .sticky-content {
        position: static;
        margin-bottom: 40px;
    }


    .security-right {
        margin-top: 36px;
    }

    .security-right .f-col {
        margin-bottom: 30px;

        &:nth-child(even) {
            margin-top: 0;
        }
    }

    .securiry-box {
        min-height: 285px;
    }

    .solution-left .sticky-content {
        width: 100%;
    }

    .safety-content-left {
        max-width: 100%;
    }

    .sticky-text-sec .sticky-content {
        width: 100%;
    }

    .digital-cotent .small-title {
        font-size: 20px;
    }

    .page-bnr {
        height: 270px;
        margin-bottom: 40px;
    }

    .section-left.counter-broad {
        width: 100%;
    }
}

@media all and (max-width:768px) {}

@media all and (max-width:640px) {
    .sec-title.t-center {
        margin-bottom: 20px;
    }

    .culture-img {
        width: 100%;
        height: 290px;
    }

    .sticky-content {
        margin-bottom: 20px;
    }

    .learning-wrap {
        padding: 30px;
        padding-right: 30px;
    }

    .img-text-box .learning-img {
        height: auto;
    }

    .page-big-content {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .advisor-wrap {
        padding: 30px;
        padding-right: 30px;
    }

    .label-app-right {
        max-width: 442px;
    }

    .acc-main-box {
        margin-top: 10px;
    }

    .culture-sec {
        padding: 40px 0;
    }

    .value-box {
        padding: 40px 30px 40px;
    }

    .culture-img {
        height: 300px;
    }

    .securiry-box {
        min-height: auto;
    }

    .white-box {
        top: 100px;
    }

}

@media all and (max-width:576px) {


    .page-bnr {
        height: 206px;
        margin-top: 40px;
    }

    .white-box {
        padding: 30px;
        margin-bottom: 30px;
    }

    .value-content {
        flex-direction: column;
    }

    .value-detail {
        margin-left: 0;
        margin-top: 20px;
    }

    .quality-img {
        height: auto;
        margin-bottom: 30px;

        .relief-cont ul {
            margin-left: 20px;
        }
    }

    .label-img {
        width: 100%;
        height: auto;

        img {
            // width: 74%;
        }
    }

    .label-app-box {
        .swiper-slide {
            text-align: left;
        }
    }

    .label-app-right {
        max-width: 400px;
    }
}

@media all and (max-width:480px) {
    .learning-wrap {
        padding: 30px;
        gap: 30px;
    }

    .sticky-text-sec .safety-study-content-wrap {
        margin-bottom: 50px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .learning-img {
        width: 100%;
        height: 250px;
    }

    .img-text-box .learning-img {
        width: 100%;
    }

    .learning-wrap.img-left {
        padding: 20px;
    }

    .page-big-content {
        width: 100%;
    }

    .roadmap-box {
        padding: 50px 44px 50px;
    }

    .advisor-wrap {
        padding: 20px;
        padding-right: 20px;
    }

    .label-app-right {
        max-width: 390px;
    }

    .label-img {
        border-radius: 4px;
    }

    .team-img {
        margin-bottom: 14px;
    }

    .culture-img {
        height: 250px;
    }

    .business-wrap {
        padding: 50px 20px 50px;

        .sec-title {
            margin-bottom: 40px;
        }

        p,
        li {
            line-height: 1.5;
        }
    }

    .vision-mission-box p,
    .vision-mission-box li {
        font-size: 18px;
        line-height: 1.5;
    }

    .vm-content li {
        padding-left: 30px;
    }

    .mission-points li::before {
        margin-top: 4px;
    }

    .security-icon {
        width: 90px;
        height: 90px;
        padding: 20px;
    }

    .team-detail {
        height: 85.4%;
    }

    .relief-cont ul {
        margin-left: 20px;
    }
}

@media all and (max-width:400px) {
    .learning-wrap {
        padding: 20px;
    }

    .learning-img {
        height: 200px;
    }

    .label-app-right {
        max-width: 300px;
    }

    .culture-img {
        height: 200px;
    }
}

@media all and (max-width:360px) {}