.white-box {
    background: var(--clr-white);
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 40px;
    position: sticky;
    top: 120px;
}

.top-space-0 {
    padding-top: 0;
}

.top-space {
    padding-top: 30px;
}

.bottom-space-0 {
    margin-bottom: 0 !important;
}

.page-hdr {
    .f-row {
        justify-content: space-between;
        align-items: flex-start;
    }
}

.page-hdr-right {
    margin-top: 10px;

    p {
        font-weight: 500;
    }
}

.breadcrumb {
    ul {
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;

            &::after {
                content: '';
                display: block;
                width: 4px;
                height: 4px;
                border-radius: 100%;
                background: var(--clr-black);
                margin: 0 20px;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            a {
                color: var(--clr-lightorange);
            }

        }
    }
}

.page-bnr {
    width: 100%;
    height: 510px;
    margin-top: 60px;

    img {
        border-radius: var(--radius24);
        object-fit: cover;
    }
}

.page-big-content {
    width: 90%;
    margin-inline: auto;
    margin-top: 60px;

    h2 {
        line-height: 1.6;
    }
}

.page-bnr-1 {
    height: 550px;

    img {
        object-fit: contain;
    }
}

.safety-study-content-wrap {
    display: flex;
}

.sticky-cont-wrapper {
    display: block;
    width: 50%;
}

.safety-content-left {
    position: relative;
    height: 100%;
    max-width: 518px;
    width: calc(100% - 30px);
}

.sticky-content {
    position: sticky;
    top: calc(var(--header-height) + 10px);

    h2 {
        margin-bottom: 20px;
    }
}

.safety-content-right {
    width: 50%;
}

.safety-cont-para {
    margin-top: 12px;

}

.relief-cont {
    margin-bottom: 36px;

    .med-para {
        margin-bottom: 24px;
    }

    ul {
        margin-left: 50px;

        li {
            list-style: disc;
            font-size: var(--size18);
            line-height: 2;
        }
    }
}

.section-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.section-left {
    width: 20%;
}

.section-right {
    width: 65%;
}

.expr-sec {
    .f-col {
        margin-bottom: 36px;
    }

    .f-col {

        &:nth-child(2) .count-box {
            background: #FDF7EA;
        }

        &:nth-child(3) .count-box {
            background: #F6FBFE;
        }
    }
}

.count-box {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px 40px 40px;
    border-radius: 10px;
    height: 100%;
}

.count {
    font-size: var(--size64);
}

.counter-box span.plus:after {
    content: "+";
    display: inline-block;
    color: var(--clr-black);
}

.sec-hedr {
    max-width: 666px;
    width: calc(100% - 36px);
    margin-inline: auto;

    .sec-title {
        margin-bottom: 12px;
    }
}

.soft-stndrd-img-wrap {
    margin-top: 46px;
}

.soft-stndrd-img {
    width: 100%;
    max-height: 460px;
    height: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }
}

.var-procs-sec-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-hedr-left {
    width: 40%;

    .sec-title {
        line-height: 1.3;
        margin-bottom: 12px;
    }
}

.var-procs-img {
    max-width: 700px;
    width: calc(100% - 36px);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }
}

.case-study-hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cs-swiper-img {
    height: 306px;
    width: 100%;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius16);
    }

}

.cs-swiper-box-btm {
    display: flex;
    align-items: left;
    justify-content: space-between;
    width: 100%;
}

.roadmap-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 74px;
    margin-top: 40px;
    border-radius: var(--radius24);
}

.roadmap-img {
    max-width: 587px;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.road-map-cont {
    width: 40%;
}

/* digital capablity css */
.digitals-height-wrap {
    position: relative;

    .swiper {
        overflow: visible;
    }
}

.digital-swiper {
    margin-top: 40px;
}

.digitals-sticky {
    position: sticky;
    top: 25%;
}

.trigger-point {
    height: 80vh;
    position: absolute;

    &1 {
        top: 0;
    }

    &2 {
        top: 80vh;
    }

    &3 {
        top: 160vh;
    }

    &4 {
        top: 240vh;
    }

    &5 {
        top: 320vh;
    }

    &6 {
        top: 400vh;
    }

    &7 {
        top: 560vh;
    }

    &8 {
        top: 640vh;
    }

}

.swiper-scrollbar-drag {
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(236, 42, 37, 1) 100%) !important;
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: var(--swiper-scrollbar-size, 7px) !important;
    bottom: var(--swiper-scrollbar-bottom, -26px) !important;
    border-radius: var(--swiper-scrollbar-border-radius, 0px);
    background: var(--swiper-scrollbar-bg-color, rgba(245, 245, 245, 1));
}

.digital-swiper-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.digital-icon {
    width: 120px;
    height: 120px;

    img {
        object-fit: contain;
    }

    margin-bottom: 60px;

}

.digital-cotent {
    text-align: left;

    .small-title {
        font-size: 28px;
    }
}

/* digital page glance sec css  */
.glance-hdr {
    margin-bottom: 40px;
}

.culture-sec {
    background: #fafafa;
    padding: 90px 0;
    overflow: hidden;
}

.acc-box {
    padding: 12px 0 0;
    background: transparent;
    position: relative;
    display: flex;
    .anim();
}

.acc-main-box {
    .swiper-slide:last-child .acc-box .acc-dot {

        &:before,
        span {
            display: none;
        }
    }
}

.swiper.comm-swiper {
    overflow: visible;

    .swiper-wrapper {
        display: block;
    }
}

.label-btn {
    margin-left: 45px;
}

.acc-main-box {
    width: 50%;
}



.acc-cont {
    flex: 1;
}

.acc-dot {
    display: block;
    width: 16px;
    height: 16px;
    background: #ECEDED;
    border-radius: 100%;
    margin-right: 30px;
    margin-top: 13px;
    z-index: 1;

    span {
        display: block;
        height: 0;
        width: 1px;
        position: absolute;
        margin-left: 7px;
        margin-top: -2px;
        background: #ca2127;
    }

    &:before {
        content: "";
        display: block;
        background: transparent url(../img/verti-line.svg) repeat-y bottom;
        height: 100%;
        width: 1px;
        position: absolute;
        margin-left: 7px;
    }
}

.acco-hdn {
    font-size: 30px;
    line-height: 1.4;
    color: rgba(39, 45, 55, 0.5);
    cursor: pointer;
    text-align: left;
    text-transform: capitalize;
}

.acc-box.active {
    .acco-hdn {
        color: #272D37;
    }

    .active-dot {
        background: linear-gradient(45deg, rgba(236, 34, 39, 1) 0%, rgba(236, 42, 37, 1) 20%, rgba(239, 65, 35, 1) 40%, rgba(244, 104, 30, 1) 60%, rgba(250, 156, 24, 1) 80%, rgba(253, 181, 21, 1) 100%);
        height: 16px;
        width: 16px;
        position: relative;
        z-index: 999;
        border-radius: 100%;

    }

    .acc-dot {
        span {
            height: 100%;
            .anim(4s);
        }
    }

    .acco-para {
        display: block;
    }
}

.label-app-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}

.label-app-left {
    flex: 1;
    display: flex;
    align-items: flex-start;
}

.label-app-right {
    max-width: 742px;
    width: 100%;
}

.label-img {
    display: block;
    width: 100%;
    height: 462px;
    border-radius: 14px;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #lableAnim {
        object-fit: contain;
    }
}

.mob-img {
    display: none;
}

/* team page css start  */
.team-hdr {
    margin-bottom: 30px;
}

.team-mem-boxes-wrap {
    .f-col {
        margin-bottom: 60px;
    }
}

.team-swiper-wrap {
    margin-top: 54px;
}

.team-box {
    position: relative;
    overflow: hidden;
}

.team-img {
    height: 407px;
    width: 100%;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }

}

.team-box-btm {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    h3 {
        font-size: var(--size24);
        font-weight: 500;
    }
}


.team-detail {
    position: absolute;
    top: 0%;
    left: 0;
    background: var(--button-fill);
    border-radius: var(--radius24);
    padding: 40px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    color: var(--clr-white);

    h4 {
        font-size: var(--size24);
        font-weight: 500;
    }

    p {
        color: #fff;
    }
}

.team-detail-text {
    overflow-y: auto;
    height: 296px;

    p {
        font-size: 16px;
        line-height: 34px;
        overflow-y: auto;
    }
}

.team-detail.active {
    opacity: 1;
    visibility: visible;
    padding-bottom: 70px;
}

.plus-btn {
    cursor: pointer;
    z-index: 1;
    .anim(01s);
    font-size: var(--size28);
    border: 1px solid #000;
    border-radius: 100%;
    padding: 0 6px;
    line-height: 1.1;
    background-color: #FFF;

    &:hover,
    &.active {
        background-color: #FDB515;

        .plus-icon {
            transform: rotate(135deg);
            background-color: transparent;
            color: var(--clr-black);
            // border: 1px solid #FDB515;
        }
    }
}

.plus-icon {
    .anim(0.8s);
}

.team-dtl-content {
    li {
        list-style: disc;
        margin: 12px 0px 12px 20px;
        font-size: var(--size16);
    }
}

.advisor-wrap {
    border-radius: var(--radius24);
    overflow: hidden;
    .flex();
    gap: 50px;
    padding: 60px;
    padding-right: 0;
}

.advisor-content {
    flex: 1;
    max-width: 506px;

    .small-title {
        margin-bottom: 16px;
    }
}

.team-swiper-wrap {
    .flex();
    gap: 76px;
}

.team-img-swiper {
    .swiper-slide {
        background: transparent;
    }
}

.team-img-swiper {
    max-width: 916px;
}

.advisor-img {
    width: 100%;
    height: 526px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }
}

.team-info-swiper {
    max-width: 554px;
    width: 100%;

    .swiper-wrapper {
        padding-bottom: 50px;
    }

    .swiper-slide {
        display: flex;
        height: auto;
        background: transparent;
        text-align: left;
    }
}

.team-info-box {
    .flex(space-between, flex-start);
    gap: 80px;
    flex-direction: column;

    .comm-para p {
        color: #ddd;
    }
}

.team-info {
    span {
        color: #818181;
        font-size: var(--size18);
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: -0.54px;
        margin-bottom: 22px;
        display: block;
    }

    .comm-para p {
        .ellipsisV(3);
    }
}

.team-hdn {
    color: #fff;
    font-size: var(--size36);
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -1.08px;
    text-transform: capitalize;
    margin-bottom: 26px;
}

.team-nav-wrap {
    .flex(flex-start, flex-start);
    gap: 8px;
}

.team-nav {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid #000;
    cursor: pointer;
    .flex();
    .anim();

    i {
        font-size: 16px;
        color: #fff;
        .anim();
    }

    &:hover {
        background: #ffffff;

        i {
            color: var(--dark);
        }
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    img {
        width: 50%;
        height: 50%;
        object-fit: contain;
    }
}

.team-prev {
    img {
        transform: rotate(180deg);
    }
}

.vision-mission-box {
    border-radius: var(--radius24);
    padding: 58px 36px;
    min-height: 760px;
    height: 100%;

    p,
    li {
        font-size: var(--size20);
    }
}

.vm-icon {
    width: 235px;
    height: 175px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.vm-content {
    .sec-title {
        margin: 30px 0 23px;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        display: flex;
        margin-bottom: 30px;
        display: flex;
        margin-bottom: 30px;
        color: #404040;
        // font-size: var(--size24);
        font-weight: 400;
        flex: 1;
        // font-size: var(--size24);
        line-height: 2;
        line-height: 200%;
        padding-left: 40px;
        position: relative;

        &::before {
            content: '';
            background: url('../img/right-orange-arrow.svg') center no-repeat;
            width: 20px;
            height: 20px;
            background-size: contain;
            margin-right: 20px;
            margin-top: 8px;
            position: absolute;
            left: 0;
        }


    }

}

.mission-points {
    li {
        display: flex;
        margin-bottom: 30px;

        &::before {
            content: '';
            background: url('../img/right-orange-arrow.svg') center no-repeat;
            width: 20px;
            height: 20px;
            background-size: contain;
            margin-right: 20px;
            margin-top: 8px;
        }

        p {
            flex: 1;
            font-size: var(--size24);
            line-height: 2;
        }
    }
}

.value-box {
    padding: 80px 60px 40px;
    border-radius: var(--radius24);
}

.value-content-wrap {
    margin-top: 40px;

    .f-row {
        justify-content: space-between;
    }
}

.value-content {
    display: flex;
    align-items: flex-start;
    min-height: 200px;
    height: 100%;
    margin-bottom: 40px;
}

.value-icon {
    width: 104px;
    height: 104px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.value-detail {
    flex: 1;
    margin-left: 30px;

    .small-title {
        margin-bottom: 12px;
    }
}

.quality-sec-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    .f-row {
        justify-content: space-between;
    }
}

.quality-left {
    max-width: 486px;
    width: calc(100% - 30px);
    flex: 1px;

    .sec-title {
        margin-bottom: 10px;
    }
}

.quality-img {
    max-width: 622px;
    width: calc(100% - 30px);
    height: 580px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }
}

.culture-text-hdr {
    text-align: center;

    .large-title {
        margin-bottom: 20px;
    }

    .sec-title {
        margin-bottom: 10px;
    }
}

.read-btn {
    margin-top: 30px;
}

.swiper.culture-swiper {
    overflow: visible;
}

.culture-img {
    width: 100%;
    height: 500px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--radius24);
    }
}

.securiry-box {
    padding: 34px;
    border-radius: var(--radius24);
}

.security-icon {
    background: var(--clr-white);
    .flex();
    width: 110px;
    height: 110px;
    padding: 26px;
    border-radius: 100%;

    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}

.security-text p {
    font-size: 20px;
    font-weight: 500;
    margin-top: 26px;
}

.security-right {
    .f-col {
        &:nth-child(even) {
            margin-top: 50px;

        }
    }
}

.swiper-slide {
    // background: transparent !important;
}


.accSwiper,
.labelSwiper {
    .swiper-slide {
        background: transparent;
    }
}