@media all and (max-width:1600px) {

    .button {
        font-size: 14px;
    }

    .business-wrap .sec-title {
        max-width: 620px;
    }

    .big-count.count {
        font-size: 50px;
    }

    .black-wrap {
        height: auto;
    }

    .anim-sec {
        padding: 100px 0;
    }

    .card-3 {
        bottom: -2%;
    }

    .fold2-dot-4,
    .fold2-dot-5,
    .fold2-dot-6 {
        width: 62px;
        height: 62px;
    }

    .fold2-dot-1,
    .fold2-dot-2,
    .fold2-dot-3 {
        width: 42px;
        height: 42px;
    }

    .fold2-dot-wrap {
        width: 250px;
        height: 250px;
    }

    .blog-img {
        height: auto;
    }

    .blog-wrap {
        .cs-swiper-img {
            height: auto;
        }
    }

    .five-card {
        height: 280px;
    }

    .five-card-wrap {

        .f-row {
            gap: 20px 0;

        }

        .f-col {
            padding: 0 10px;
        }
    }

    .banner-card-wrap {
        // height: 500px;
    }

}

@media all and (max-width:1440px) {
    .main-container {
        padding: 100px 0 40px;
    }

    .solution-right .white-box {
        padding: 40px;
    }

    .img-text-box .learning-img {
        width: 510px;
        height: 300px;
    }

    .project-box-wrap {
        gap: 40px;
    }

    .project-wrap .sec-title {
        margin-bottom: 40px;
    }

    .app-swiper {
        width: 40%;
    }

    .tab-wrap div {
        height: 80px;
    }

    .image-content-box {
        margin-top: 60px;
    }

    .energy-content li {
        margin-bottom: 20px;
    }

    .testi-card {
        .large-title {
            font-size: 30px;
        }
    }

    .card-1 {
        left: -8%;
    }

    .contact-wrap {
        margin-bottom: 30px;
    }

    .error-img {
        width: 585px;
        height: auto;
    }

    .error-title {
        font-size: 30px;
    }

    .feature-wrap {
        .sec-title {
            width: 65%;
        }
    }

    // .value-row .sec-title {
    //     width: 120px;
    // }
}

@media all and (max-width:1366px) {
    .sec-subtitle {
        font-size: 22px;
    }

    .energy-content ul {
        gap: 0 60px;
    }

    .testi-card {
        .large-title {
            font-size: 26px;
        }
    }

    .card-4 {
        right: 5%;
    }

    .card-1 {
        left: -6%;
    }

    .image-content-box {
        margin-top: 30px;
    }

    .tab-wrap div {
        height: 60px;
    }

    .project-wrap .sec-title {
        margin-bottom: 20px;
    }

    .comm-section.top-space {
        padding-top: 0;
    }

    .sec-video {
        height: 500px;
    }

    .implement-wrap .sec-video {
        height: auto;
    }

    .banner-wrap .banner-title {
        // font-size: 38px;
        max-width: 600px;
    }



    .home-banner-video {
        // height: auto;
    }

    .ai-banner-video {
        height: 500px;
    }

    .banner-wrap {
        // height: calc(100vh - var(--header-height));
        height: 100vh;
        // padding-top: calc(var(--header-height) + 50px);
        padding-top: var(--header-height);
    }



    .banner-card-wrap {
        height: 500px;
    }

    .g-logo {
        width: 600px;
        height: auto;
    }

    .feature-card-wrap {
        padding: 60px;
    }

    .implement-wrap .sec-video {
        height: 500px;
    }

    .card-5 {
        right: -10%;
    }
}


@media all and (max-width:1280px) {

    .projectRightSwiper,
    .projectLeftSwiper,
    .project-timeline {
        height: 362px;
    }

    .banner-wrap .banner-title {
        max-width: 600px;
    }

    // .card-3 {
    //     left: -10%
    // }

    // .card-4 {
    //     right: -7%;
    // }
}




@media all and (max-width:1200px) {
    .container {
        max-width: 1130px;
    }

    .business-wrap {
        padding: 50px 30px;
    }

    .big-count.count {
        font-size: 40px;
    }

    .small-count.count {
        font-size: 30px;
    }

    .parent .count {
        margin-bottom: 6px;
    }

    .parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .div1 {
        grid-area: 1 / 1 / 3 / 2;
    }

    .div2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .div3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .div4 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div5 {
        grid-area: 2 / 3 / 3 / 4;
    }

    .service-big-card {
        // gap: 60px;
        padding: 40px;
    }

    .service-small-card {
        padding: 30px;
    }

    .industries-name {
        // font-size: 50px;
    }

    .industries-wrap {
        gap: 30px;
    }

    .testi-card {

        .sec-title,
        .large-title {
            margin-bottom: 30px;
        }
    }

    .area-img {
        width: 450px;
        height: auto;
    }

    .area-tab-wrap {
        padding: 30px;
    }


    .project-box-wrap {
        gap: 10px;
    }

    .tab-wrap {
        width: 80%;
    }

    .tab-wrap div {
        height: 60px;
    }

    .energy-content ul {
        width: 100%;
        margin: 0 auto 30px;
        gap: 0 40px;
    }

    .energy-content {
        width: 100%;
        margin: 30px 0;
    }

    .testi-card {
        .large-title {
            font-size: 24px;
        }
    }

    .fold2-dot-4,
    .fold2-dot-5,
    .fold2-dot-6 {
        width: 50px;
        height: 50px;
    }

    .fold2-dot-1,
    .fold2-dot-2,
    .fold2-dot-3 {
        width: 30px;
        height: 30px;
    }

    .fold2-dot-wrap {
        width: 200px;
        height: 200px;
    }

    .card-1 {
        padding: 20px 35px;
    }

    .card-2 {
        padding: 45px 120px 26px;
    }

    .card-3 {
        padding: 50px 70px;
    }

    .card-4 {
        padding: 40px 30px 26px;
        gap: 34px;
    }

    .contact-wrap {
        gap: 50px;
    }

    .contact-right {
        padding: 40px 30px;
    }

    .error-title {
        font-size: 24px;
    }

    .usecase-content-2 {
        left: -100px;
    }

    .usecase-gallery {
        // gap: 10px;
        height: auto;
        flex-direction: column;

        .usecase-img {
            height: 500px;
        }
    }

    .usecase-bottom {

        align-items: center;
    }

    .usecase-title {
        margin-bottom: 0;
    }

    .usecase-content-2 {
        display: none;
    }

    .usecase-content {
        // width: 100%;
        bottom: 40px;
    }

    .header-list li {
        padding: 7px 9px;

        a {
            font-size: 14px;
        }
    }

    .logo {
        width: 150px;
    }

    .header-list li {
        padding: 7px 4px;
    }

}

@media all and (max-width:1024px) {

    .container {
        max-width: 910px;
    }

    .comm-para p {
        line-height: 1.6;
    }

    .tab-wrap div {
        font-size: 18px;
    }

    .img-text-box .learning-img {
        width: 410px;
        height: auto;
    }

    .card-img-1 {
        width: 90px;
        height: 90px;
    }

    .card-1 {
        padding: 20px 30px;
        gap: 30px;
    }

    .card-3 {
        padding: 40px;
    }

    .card-2 {
        padding: 20px 80px;
    }

    .card-4 {
        padding: 30px 20px;
        gap: 24px;
    }

    .mob-top-banner {


        .card-img-4 {
            width: 103px;
            height: 64px;

            img {
                object-fit: contain;
            }
        }
    }

    .banner-wrap .comm-para {
        max-width: 400px;
    }

    .banner-subdscr {
        gap: 20px;
    }

    .banner-wrap .banner-title {
        max-width: 500px;
    }

    .contact-wrap {
        flex-direction: column;
        gap: 60px;
    }

    .contact-left {
        display: flex;
        gap: 60px;
    }

    .contact-card {
        margin-bottom: 0;
        width: 50%;
    }

    .address-para-wrap {
        flex: 1;
    }

    .blogpage-tile-wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .blogpage-tile-wrap .banner-title {
        width: 100%;
    }



    .header-new-wrap {
        backdrop-filter: none;
        background: #FFF;
    }

    .digitals-height-wrap {
        height: auto;
        overflow: hidden;
    }

    .feature-card-wrap {

        .f-row {
            flex-direction: column-reverse;
            gap: 50px;
        }

        &.rev {
            .f-row {

                flex-direction: column;
            }
        }

        .feature-img {
            width: 70%;
        }
    }

    .ai-banner-video,
    .implement-wrap .sec-video {
        height: auto;
    }

    .usecase-gallery .usecase-img {
        height: auto;
    }

    .banner-card-wrap {
        display: none;
    }

    .banner-sticky {
        height: auto;
    }

    .banner-wrap .container,
    .home-banner-video {
        position: relative;
    }

    .orange-bg-sec {
        opacity: 1;
        visibility: visible;
    }

    .orange-bg-sec-wrap {
        height: auto;
    }

    .banner-wrap {
        height: auto;
        padding-top: 0;
    }

    .orange-bg-sec {
        height: auto;
        margin: 80px 0;
    }

    .banner-wrap {
        gap: 40px;
    }

    .mob-five-card {
        display: flex;
        gap: 30px 0;
        justify-content: center;
    }

    .mob-content {
        display: block;
    }

    .anim-sec {
        padding: 80px 0;
    }



    .banner-wrap .container,
    .orange-bg-sec-wrap {
        z-index: 1;
    }

    .banner-title {
        line-height: 1.3;
    }

    .g-logo-wrap {
        display: none;
    }

    .home-banner-video {
        opacity: 1;
        visibility: visible;
    }

    .banner-wrap .container {
        top: 0;
    }

    .career-wrap {
        width: 100%;
    }
}

@media all and (max-width:990px) {
    :root {
        --input-height: 45px;
    }

    .container {
        max-width: calc(100% - 130px);
    }

    .main-container {
        padding: 85px 0 0px;
    }


    .button {
        font-size: 14px;
        height: 45px;
        line-height: 45px;
    }

    .service-big-img {
        width: 346px;
        height: auto;
    }

    .service-big-card {
        // gap: 30px;
        padding: 30px;
    }

    .area-img {
        width: 50%;
        margin-left: auto;
    }

    .area-tab-wrap .tab-nav-wrap li {
        padding: 20px 26px;
    }

    .solution-left .sticky-content {
        width: 90%;
    }

    .black-content {
        position: static;
        width: 100%;
        border-radius: 0 0 var(--radius12px) var(--radius12px);
        background: rgba(0, 0, 0, 0.8);
    }

    .phase-number {
        width: 80px;
        height: 80px;
        border: 10px solid #FFF;
    }

    .tab-wrap {
        width: 100%;
    }

    .image-content-box {
        gap: 30px;
    }

    .tab-wrap {
        gap: 14px;

        div {
            font-size: 18px;
        }
    }

    .area-tab-wrap .tab-nav-wrap ul {
        // width: 300px;
        gap: 30px;
    }

    .energy-swiper {
        margin-top: 60px;
    }

    .testi-card {
        .large-title {
            margin: 40px 0;
            // font-size: 22px;
        }
    }

    .mob-bottom-banner {

        .card-1,
        .card-2,
        .card-3,
        .card-4 {
            transform: scale(1);
        }


    }

    .mob-top-banner {
        .card-1 {
            top: -10%;
        }

        .card-2 {
            gap: 10px;
        }
    }

    .anim-sec {
        padding: 60px 0;
    }


    .dot1 {
        background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
    }

    .dot2 {
        background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
    }

    .dot3 {
        background: linear-gradient(46deg, #EC2227 -149.04%, #EC2A25 -123.79%, #EF4123 -83.81%, #F4681E -35.4%, #FA9C18 21.41%, #FDB515 44.56%);
    }

    .dot4 {
        background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
    }

    .dot5 {
        background: linear-gradient(47deg, #EC2227 -78.2%, #EC2A25 -52.99%, #EF4123 -13.08%, #F4681E 35.23%, #FA9C18 91.94%, #FDB515 115.04%);
    }

    .mob-bottom-banner {
        flex-direction: column;

        .banner-card,
        .fold2-dot-wrap {
            position: static;
        }
    }

    .dot-row {
        .flex(space-between);
        width: 100%;
    }

    .fold2-dot-1,
    .fold2-dot-2,
    .fold2-dot-3 {
        background: linear-gradient(47deg, #EC2227 -27.78%, #EC2A25 5.43%, #EF4123 58.02%, #F4681E 121.67%, #FA9C18 196.4%, #FDB515 226.84%);
    }

    .fold2-dot-4,
    .fold2-dot-5,
    .fold2-dot-6 {
        background: linear-gradient(46deg, #EC2227 -78.12%, #EC2A25 -52.92%, #EF4123 -13.03%, #F4681E 35.26%, #FA9C18 91.94%, #FDB515 115.04%);
    }

    .fold2-dot-6 {
        background: linear-gradient(46deg, #EC2227 -149.04%, #EC2A25 -123.79%, #EF4123 -83.81%, #F4681E -35.4%, #FA9C18 21.41%, #FDB515 44.56%);
    }

    .mob-dot-wrap {
        width: 200px;
        height: 200px;

        .fold2-dot-wrap {
            position: relative;
        }
    }

    .banner-card-wrap,
    .banner-height {
        height: auto;
    }

    .banner-sec {
        padding: 0 0 50px;
    }

    .gsap-dot {
        display: none;
    }

    .banner-wrap {

        .banner-card,
        .fold2-dot {
            display: none;
        }

        .banner-title {
            max-width: 800px;
        }

    }

    .mob-top-banner {
        .flex(space-between, flex-start);
        gap: 50px;

        &:last-child {
            align-items: flex-end;
        }

        .banner-card {
            display: flex;
            position: relative;
        }

        .card-1,
        .card-2,
        .card-3,
        .card-4 {
            transform: scale(1);
        }





        .card-4 {
            padding: 40px 40px 26px;
            gap: 54px;
            right: 0%;
        }

        .card-1 {
            padding: 20px 55px;
            gap: 60px;
            left: 0%
        }

        .card-3 {
            left: 0%;
        }
    }


    .banner-wrap .banner-card-wrap {
        margin: 50px 0;
    }

    .mob-bottom-banner {
        margin-top: 80px;


    }

    .banner-wrap {
        // height: auto;
    }

    .banner-dot {
        background: linear-gradient(46deg, #EC2227 -27.82%, #EC2A25 5.37%, #EF4123 57.93%, #F4681E 121.56%, #FA9C18 196.25%, #FDB515 226.68%);
    }

    .mob-top-banner,
    .mob-bottom-banner {
        display: flex;
    }

    .blog-wrap {
        max-width: 100%;
    }

    .anim-text {
        font-size: 30px;
    }

    .new-home.main-container {
        padding-top: var(--header-height);
    }

    .home-banner-video {
        height: auto;

        video {
            object-fit: contain;
            height: auto;
        }
    }

    .comm-video-btn {
        bottom: 10px;
    }
}

@media all and (max-width:834px) {
    .solution-right.safety-content-right {
        width: 100%;
    }

    .solution-img {
        width: 90px;
        height: 90px;
    }

    .projectRightSwiper,
    .projectLeftSwiper,
    .project-timeline {
        height: 300px;
    }

    .industries-name {
        font-size: 30px;
    }

    .tab-box {
        .tab-nav-wrap {
            width: 45%;
        }
    }

    .area-tab-wrap .tab-nav-wrap ul {
        width: 100%;
        gap: 10px;
    }
}

@media all and (max-width:768px) {
    .container {
        max-width: calc(100% - 60px);
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 3;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .div4 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div5 {
        grid-area: 3 / 2 / 4 / 3;
    }

    .grid-card {
        justify-content: center;
        padding: 20px;
    }

    .service-big-img {
        width: 246px;
    }

    .indNameSwiper {
        width: 300px;
    }

    .industries-wrap {
        gap: 10px;
    }

    .area-tab-wrap .tab-nav-wrap li a {
        font-size: 20px;
    }

    .projectRightSwiper,
    .projectLeftSwiper,
    .project-timeline {
        height: 300px;
    }

    .project-box-wrap {
        display: none;
    }

    .mob-project-content,
    .mob-project-box {
        display: block;
    }

    .project-img {
        width: 420px;
        height: auto;
        padding: 30px;
    }

    .mob-approach-content {
        display: block;
    }

    .appContentSwiper {
        display: none;
    }

    .app-swiper {
        width: 100%;
    }

    .app-swiper {

        &.swiper-container .swiper-slide {
            flex-direction: column;
            align-items: flex-start;
            gap: 30px;
        }

        .approach-img {
            width: 70%;
            height: auto;
        }

        .swiper-wrapper {
            flex-direction: column;
            gap: 50px;
        }
    }

    .mob-tab {
        display: none;
    }

    .mob-tab-wrap {
        display: block;

        .progress {
            // width: 50%;
        }
    }

    .tab-wrap .progress.active:before {
        width: 100%;
        animation: none;
    }

    .tab-wrap {
        justify-content: flex-start;

        .mob-tab {
            display: none;
        }

        .active {
            // width: 50%;
        }
    }

    .energy-swiper {
        .swiper-wrapper {
            flex-direction: column;
            gap: 50px;
        }
    }

    .energy-sec {
        padding-bottom: 30px;
    }

    .area-tab-wrap .tab-nav-wrap li {
        padding: 20px 16px;
    }

    .area-tab-wrap {
        padding: 20px;
    }

    .area-tab-wrap .tab-nav-wrap ul {
        width: 280px;
    }

    .desk-tab-wrap {
        display: none;
    }

    .image-content-box,
    .energy-swiper {
        margin-top: 30px;
    }

    .area-tab-wrap {
        .tab-nav-wrap ul {
            // background: transparent;

            li {
                // background: #FFF;
                // border-radius: var(--radius16);

                &.active {
                    // background: #FFF;
                }
            }
        }


    }



    .area-img {
        width: 80%;
    }

    .content {
        .area-img {
            width: 50%;
        }
    }

    .area-tab-wrap .tab-nav-wrap ul {
        width: 100%;
    }

    .service-small-img {
        margin-left: auto;
        margin-right: auto;
    }

    .dot-row {
        flex-direction: column;
        gap: 30px;
    }

    .banner-card-wrap {
        gap: 60px;
    }

    .error-img {
        width: 80%;
    }

    .service-wrap {
        .f-row {
            gap: 30px 0;
        }
    }

    .sec-video {
        height: 400px;
    }
}


@media all and (max-width:640px) {
    .container {
        max-width: calc(100% - 40px);
    }

    .comm-section {
        padding: 24px 0;
    }

    .business-wrap .sec-title {
        max-width: 100%;
    }

    .business-wrap {
        padding: 30px;
    }

    .service-wrap {
        .f-row {
            gap: 30px 0;
        }
    }

    .service-big-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .sec-subtitle {
        font-size: 18px;
    }

    .sticky-text-sec .safety-study-content-wrap {
        margin-bottom: 60px;
    }

    .black-content {
        padding: 30px;
    }

    .chip span {
        padding: 6px 12px;
    }

    .tab-wrap div {
        height: 50px;
    }

    .energy-swiper {
        .swiper-slide {
            text-align: left;
        }
    }

    .energy-content .comm-para {
        margin-bottom: 30px;
    }

    .energy-content {
        margin: 0;
    }

    .img-text-box {
        margin-bottom: 20px;
    }

    .business-wrap {
        margin-bottom: 30px;
    }

    .anim-sec {
        padding: 50px;
    }

    .anim-text {
        width: 100%;
    }

    .indNameSwiper,
    .indDetailSwiper {
        height: 300px;
    }

    .testi-card {
        .large-title {
            // font-size: 20px;
        }
    }

    .service-wrap .sec-subtitle {
        margin-bottom: 30px;
    }

    .industries-wrap {
        flex-direction: column;
    }

    .industries-detail {
        text-align: center;

        .sec-title {
            max-width: 100%;
        }

    }

    .tab-box {
        flex-direction: column-reverse;
        gap: 50px;

        .tab-nav-wrap {
            width: 100%;
        }
    }

    .area-tab-wrap .tab-content {
        position: static;
        transform: translate(0);
    }

    .content .area-img {
        width: 100%;
    }

    .mob-top-banner .card-1 {
        padding: 20px 15px;
        gap: 20px;
    }



    .mob-top-banner {
        .card-img-3 {
            width: 160px;
            height: auto;
        }

        .card-4 {
            padding: 40px 15px 26px;
            gap: 24px;
        }
    }

    .banner-subdscr {
        flex-direction: column-reverse;
    }

    .banner-wrap .comm-para {
        max-width: 100%;
    }

    .banner-wrap .banner-title {
        margin-bottom: 20px;
    }

    .banner-subdscr {
        .button {
            width: 180px;
        }
    }

    :root {
        --header-height: 80px;
    }

    .contact-left {
        flex-direction: column;
    }

    .contact-card {
        width: 100%;
    }

    .blog-img {
        margin-bottom: 30px;
    }

    .blog-detail-wrap {
        width: 100%;
    }

    .link-arrow {
        width: 50px;
        height: 50px;

        i {
            font-size: 30px;
        }
    }

    .service-wrap {
        width: 100%;
    }

    .five-card {
        height: 250px;
    }

    .indNameSwiper {

        &::after,
        &::before {
            height: 50px;
        }
    }

    .link-arrow a {
        width: 30px;
        height: 30px;
    }

    .sec-video {
        height: 300px;
    }

    .video-head {
        width: 100%;
    }

    .sec-title {
        text-align: left;

        &.t-center {
            text-align: left;
        }
    }

    .usecase-wrap {
        overflow: hidden;
    }

    .vision-mission-box {
        padding: 30px;

        p {
            line-height: 1.5;
        }
    }

    .culture-text-hdr {

        .large-title,
        p {
            text-align: left;
        }
    }

    .business-wrap {
        .sec-title {
            text-align: center;
        }
    }

    .industries-right {
        .sec-title {
            text-align: center;
        }
    }

    .t-center {
        text-align: left;
    }

    .rel-banner-sec .img-wrap {
        margin-bottom: 50px;
    }

    .reliability-content {
        width: 100%;
    }

    .feature-wrap .sec-title {
        width: 100%;
    }

    .feature-card-wrap {
        padding: 40px;
    }

    .partner-img p {
        font-size: 20px;
    }

    .banner-wrap .mob-banner-content .banner-title {
        max-width: 100%;
    }

    .banner-sec {
        padding: 0 0 20px;
    }

    .anim-text {
        font-size: 22px;
    }

    .orange-bg-sec {
        margin: 60px 0;
    }

    .comm-video-btn {
        height: 40px;

        img {
            width: 40px;
            height: auto;
        }

        .play-button::before {
            width: 40px;
            left: -20px;
        }
    }

    .header-top {
        padding: 14px;
    }



}

@media all and (max-width:576px) {
    .industries-name {
        font-size: 30px;
    }

    .indNameSwiper {
        width: 230px;
    }

    .container {
        max-width: 100%;
    }

    .solution-right .white-box {
        gap: 50px;
    }

    .energy-content li {
        width: 100%;
    }

    .mob-top-banner {


        .card-img-2 {
            width: 45px;
            height: auto;
        }

        .card-2 {
            padding: 20px;
            top: 20px;

            .med-para p {
                text-align: center;
            }
        }

        .card-img-1 {
            width: 70px;
            height: auto;
        }

        .card-3 {
            padding: 20px 30px;
            gap: 15px;

            .med-para p {
                text-align: center;
            }
        }

        .card-img-3 {
            width: 100px;
        }

        .card-4 {
            top: 20px;
        }
    }

    .mob-bottom-banner {
        .banner-card {
            width: 100%;
        }
    }

    .error-img {
        width: 100%;
    }

    .error-title {
        font-size: 20px;
    }

    .usecase-content {
        bottom: 30px;
    }

    .usecase-bottom {
        align-items: flex-end;
    }

    .service-wrap .f-row {
        gap: 20px 0;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .industries-detail .sec-title {
        margin-bottom: 10px;
    }

    .industries-wrap {
        padding: 40px 0;
    }

    .page-hdr .f-row {
        gap: 10px;
    }
}

@media all and (max-width:480px) {


    .parent {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);

        .circle {
            width: 50px;
            height: 50px;
        }

        p {
            font-size: 18px;
        }
    }

    .div1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .div3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    .div4 {
        grid-area: 4 / 1 / 5 / 2;
    }

    .div5 {
        grid-area: 5 / 1 / 6 / 2;
    }

    .grid-card {
        padding: 20px 0;
    }

    .big-count.count {
        font-size: 24px;
    }

    .industries-name {
        font-size: 24px;
    }

    .indNameSwiper {
        width: 200px;
    }

    .solution-img {
        width: 70px;
        height: 70px;
    }

    .solution-right .white-box {
        padding: 30px;
        margin-bottom: 20px;
    }

    .black-content {
        padding: 20px;
    }

    .project-img {
        width: 100%;
    }

    .app-swiper .approach-img {
        width: 100%;
        height: auto;
    }

    .app-swiper,
    .energy-wrap {

        .swiper-wrapper {
            gap: 30px;
        }
    }

    .swiper-slide {
        font-size: 16px;
    }

    .area-img {
        width: 100%;
    }

    .area-tab-wrap .tab-nav-wrap ul {
        padding: 10px;

        li {
            padding: 16px;

            a {
                font-size: 18px;
            }

            &:after {
                right: 22px;
            }
        }
    }

    .indNameSwiper,
    .indDetailSwiper {
        height: 250px;
    }

    .testi-card {
        .large-title {
            // font-size: 18px;
        }
    }

    .business-wrap {
        .comm-para p {
            font-size: 20px;
            line-height: 1.8;
        }
    }

    .knowledge-sec {
        .button {
            // display: block;
            display: flex;
            width: fit-content;
            margin: 20px auto 20px;
        }

        .sec-header {
            .button {
                display: none;
            }
        }

    }

    .tab-box {
        gap: 30px;
    }

    .mob-top-banner {
        gap: 50px;

        &:last-child {
            gap: 16px;
        }

    }

    .mob-top-banner {

        .card-1 {
            gap: 10px
        }

        .card-4 {
            gap: 14px;
        }
    }

    .mob-top-banner {

        .card-img-3 {
            width: 80px;
            padding: 20px 15px;
        }

        .card-img-1 {
            width: 50px;
        }

        .card-img-2 {
            width: 30px;
        }

        .card-img-4 {
            width: 68px;
            height: auto;
        }

        .med-para p {
            font-size: 15px;
        }

        .card-4 {
            padding: 20px 10px;
        }

        .banner-card .med-para {
            flex: auto;
        }
    }


    .contact-right {
        padding: 40px 20px;
    }

    .form-grp {
        margin-bottom: 16px;
    }

    .blogpage-tile-wrap {
        .footer-social {
            margin-top: 0;
        }
    }

    .knowledge-sec .cs-swiper-img {
        height: 250px;
    }

    .sec-video {
        height: 250px;
    }

    .vision-mission-box,
    .value-box {

        .large-title {
            font-weight: 500;
        }
    }

    .industries-right {

        .sec-title,
        .comm-para p,
        .swiper-slide-active .industries-name {
            text-align: left;
        }
    }

    .industries-name {
        text-align: left;
    }

    .indNameSwiper .swiper-slide {
        justify-content: flex-start;
    }

    .industries-left {
        width: 100%;
    }

    .energy-content,
    .app-content-card,
    .project-content,
    .learning-content {
        .large-title {
            font-weight: 500;
        }
    }

    .usecase-content {
        left: 20px;
        bottom: 20px;
        padding-right: 20px;

        .comm-para p {
            line-height: 1.5;
        }
    }

    .feature-card-wrap {
        padding: 30px;
    }

    .feature-card-wrap .feature-img {
        width: 100%;
    }

    .banner-wrap .banner-title {
        font-size: 26px;
    }

    .banner-wrap .mob-banner-content .banner-title {
        text-align: left;
        margin-bottom: 20px;
    }

    .banner-subdscr {
        align-items: flex-start;

        p {
            text-align: left;
        }
    }

    .banner-wrap {
        gap: 20px;
    }

    .value-row .sec-title {
        width: 60px;
    }

    .numbers-sticky .sec-title {
        margin-bottom: 10px;
    }

    .value-row {
        margin-bottom: 20px;
    }

    .comm-video-btn {
        height: 30px;
        right: 0;

        img {
            width: 30px;
        }

        .play-button {
            gap: 10px;

            &::before {
                width: 30px;
                left: -15px;
            }
        }

        .large-title {
            font-size: 16px;
        }
    }

    .banner-subdscr {
        .comm-para p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}

@media all and (max-width:400px) {
    .parent {
        .count {

            // font-size: 24px;
            p {
                // font-size: 16px;
            }
        }
    }

    .indNameSwiper {
        width: 90%;
    }

    .indNameSwiper,
    .indDetailSwiper {
        height: 200px;
    }

    .ind-sec {
        padding: 0;
    }

    .industries-name {
        font-size: 20px;
    }

    .solution-right .white-box {
        gap: 30px;
    }

    .solution-right .white-box {
        padding: 20px;
    }

    .solution-img {
        width: 60px;
        height: 60px;
    }

    .area-tab-wrap {
        padding: 10px;

        .tab-nav-wrap ul li a {
            font-size: 16px;
        }
    }

    .mob-top-banner {

        .card-2 {
            padding: 10px 20px;
        }

        .card-3 {
            padding: 10px;
            gap: 0;
        }
    }

    .mob-top-banner {
        gap: 30px;
    }

    .service-wrap {
        .comm-para p {
            font-size: 16px;
        }
    }

    .blog-detail {
        span {
            font-size: 12px;
        }
    }

    .testi-card .large-title {
        font-size: 18px;
    }

    .sec-video {
        height: 200px;
    }

    .usecase-content {
        .comm-para p {
            font-size: 16px;
        }
    }

    .partner-wrap .partner-img {
        padding: 20px 25px;
    }

    .banner-wrap .banner-title {
        font-size: 22px;
    }

    .comm-video-btn {
        bottom: 10px;
    }
}

@media all and (max-width:359px) {}