<div id="business"></div>

<div class="container">
    <div class="footer-top">
        <a href="index.html">
            <div class="footer-logo">
                <img src="img/logo.svg" alt="">
            </div>
            <div class="footer-mob-logo">
                <img src="img/footer-mob-logo.svg" alt="">
            </div>
        </a>
        <div class="footer-link">
            <ul>
                <!-- <div class="f-row f-2 f-1200-1"> -->
                <!-- <div class="f-col"> -->
                <li><a href="about.html">About Us</a></li>
                <!-- </div> -->
                <!-- <div class="f-col"> -->
                <li><a href="consulting.html">Consulting</a></li>
                <!-- </div> -->
                <!-- <div class="f-col"> -->
                <li><a href="engineering-service.html">Services</a></li>
                <!-- </div> -->
                <!-- <div class="f-col"> -->
                <li><a href="blog.html">Knowledge Base</a></li>
                <!-- </div> -->
                <!-- </div> -->
            </ul>
        </div>
        <div class="footer-social">
            <!-- <div class="social-img">
                <a href="">
                    <i class="icon-insta"></i>
                </a>
            </div> -->
            <div class="social-img">
                <a href="https://www.linkedin.com/company/ingenero">
                    <i class="icon-li"></i>
                </a>
            </div>
            <!-- <div class="social-img">
                <a href="">
                    <i class="icon-fb"></i>
                </a>
            </div> -->
        </div>
    </div>
    <hr>
    <div class="footer-bottom">
        <div class="footer-left">
            <div class="small-para">
                <p>© 2024 Ingenero</p>
            </div>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>

<script>
    $("#business").load("business.html");
</script>