<div class="header-box">
  <div class="container">
    <div class="header-new-wrap">
      <div class="header-top">
        <div class="head-left">
          <div class="logoBox">
            <a class="logo" href="./index.html">
              <img src="img/logo.svg" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="head-right">
          <ul class="header-list">
            <li class="drop">
              <a href="javascript:void(0)">About Us</a>
              <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="team.html">Team</a></li>
              </ul>
            </li>
            <li class="drop">
              <a href="sustainable.html">Sustainability</a>
              <ul>
                <li><a href="sustainable.html#netZero">Net Zero</a></li>
                <li><a href="sustainable.html#eneMgmt">Energy Management</a></li>
                <li><a href="sustainable.html#supply">Supply Chain Optimization</a></li>
                <!-- <li><a href="./our-uniqueness.html">C</a></li> -->
              </ul>
            </li>
            <li>
              <a href="apply-ai.html">Applied AI</a>
            </li>
            <li class="drop">
              <a href="safety-service.html">Safety</a>
              <ul>
                <li><a href="safety-service.html#safety">Safety Studies</a></li>
                <li><a href="safety-service.html#rel">Relief System Engineering</a></li>
                <li><a href="safety-service.html#securus">Codename Securus</a></li>
                <li><a href="safety-service.html#std">Software and Standards</a></li>
                <li><a href="safety-service.html#cover">Processes Covered</a></li>
                <li><a href="safety-service.html#webinar">Webinars</a></li>
              </ul>
            </li>
            <li>
              <a href="Reliability.html">Reliability</a>
            </li>
            <li class="drop">
              <a href="engineering-service.html">Engineering</a>
              <ul>
                <li><a href="engineering-service.html#basic">Basic Engineering/FEED</a></li>
                <li><a href="engineering-service.html#detail">Detail Engineering</a></li>
                <li><a href="engineering-service.html#debottle-1">Debottlenecking</a></li>
                <li><a href="engineering-service.html#design">Process Design Package (PDP)</a></li>
                <li><a href="engineering-service.html#concept">Concept Development/Process Development</a></li>
                <li><a href="engineering-service.html#debottle-4">Process Scale Up</a></li>
              </ul>
            </li>


            <li>
              <a href="knowledge-base.html">Knowledge Base</a>
            </li>


          </ul>
          <div class="menuBtn">
            <a href="contact.html" class="button">Contact</a>
            <div class="menu side-menu">
              <a href="javascript:void(0)" class="js-nav-toggle">
                <span></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="header-bottom">
        <ul class="header-list">
          <li class="drop">
            <a href="#">Sustainability</a>
            <ul>
              <li><a href="sustainable.html#netZero">Net Zero</a></li>
              <li><a href="sustainable.html#eneMgmt">Energy Management</a></li>
              <li><a href="sustainable.html#supply">Supply Chain Optimization</a></li>
              <!-- <li><a href="./our-uniqueness.html">C</a></li> -->
            </ul>
          </li>
          <li class="drop">
            <a href="#">Digitalization</a>
            <ul>
              <li><a href="digitalization.html#digiTwin">Digital Twin</a></li>
              <li><a href="digitalization.html#capab">Capabilities</a></li>
              <li><a href="digitalization.html#icap">Codename ICAP</a></li>
              <li><a href="digitalization.html#dashB">Dashboards</a></li>
              <li><a href="digitalization.html#roadMap">Roadmaps</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="safety-service.html">Safety</a>
            <ul>
              <li><a href="safety-service.html#safety">Safety Studies</a></li>
              <li><a href="safety-service.html#rel">Relief System Engineering</a></li>
              <li><a href="safety-service.html#securus">Codename Securus</a></li>
              <li><a href="safety-service.html#std">Software and Standards</a></li>
              <li><a href="safety-service.html#cover">Processes Covered</a></li>
              <li><a href="safety-service.html#webinar">Webinars</a></li>
            </ul>
          </li>
          <li class="drop">
            <a href="engineering-service.html">Engineering</a>
            <ul>
              <li><a href="engineering-service.html#basic">Basic Engineering/FEED</a></li>
              <li><a href="engineering-service.html#detail">Detail Engineering</a></li>
              <li><a href="engineering-service.html#debottle">Debottlenecking</a></li>
              <li><a href="engineering-service.html#design">Process Design Package (PDP)</a></li>
              <li><a href="engineering-service.html#concept">Concept Development/Process Development</a></li>
              <li><a href="engineering-service.html#scale">Process Scale Up</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Side Menu -->
<!-- Side Menu -->
<div class="menuOverlay"></div>
<div class="nav-wrapper">
  <nav role="mob-navigation" class="mob-navigation">
    <div class="nav-toggle">
      <span class="nav-back"></span>
      <span class="nav-title">
        Menu
        <!-- <img src="./img/logo.svg" alt=""> -->
      </span>
      <span class="nav-close"></span>
    </div>

    <ul>
      <li class="has-dropdown">
        <a href="about.html">About Us</a>
        <ul>
          <li><a href="about.html">About Us</a></li>
          <li><a href="team.html">Team</a></li>
        </ul>
      </li>

      <li class="has-dropdown">
        <a href="#">Sustainability</a>
        <ul>
          <li><a href="sustainable.html#netZero">Net Zero</a></li>
          <li><a href="sustainable.html#eneMgmt">Energy Management</a></li>
          <li><a href="sustainable.html#supply">Supply Chain Optimization</a></li>
          <!-- <li><a href="./our-uniqueness.html">C</a></li> -->
        </ul>
      </li>
      <li>
        <a href="apply-ai.html">Applied AI</a>
      </li>
      <li class="has-dropdown">
        <a href="safety-service.html">Safety</a>
        <ul>
          <li><a href="safety-service.html#safety">Safety Studies</a></li>
          <li><a href="safety-service.html#rel">Relief System Engineering</a></li>
          <li><a href="safety-service.html#securus">Codename Securus</a></li>
          <li><a href="safety-service.html#std">Software and Standards</a></li>
          <li><a href="safety-service.html#cover">Processes Covered</a></li>
          <li><a href="safety-service.html#webinar">Webinars</a></li>
        </ul>
      </li>
      <li>
        <a href="consulting.html">Reliability</a>
      </li>
      <li class="has-dropdown">
        <a href="engineering-service.html">Engineering</a>
        <ul>
          <li><a href="engineering-service.html#basic">Basic Engineering/FEED</a></li>
          <li><a href="engineering-service.html#detail">Detail Engineering</a></li>
          <li><a href="engineering-service.html#debottle">Debottlenecking</a></li>
          <li><a href="engineering-service.html#design">Process Design Package (PDP)</a></li>
          <li><a href="engineering-service.html#concept">Concept Development/Process Development</a></li>
          <li><a href="engineering-service.html#scale">Process Scale Up</a></li>
        </ul>
      </li>
      <li>
        <a href="knowledge-base.html">Knowledge Base</a>
      </li>



      <li>
        <a href="contact.html">Contact</a>
      </li>
    </ul>
  </nav>
</div>